<h1>Festanmälningar</h1>
<h2>Att acceptera:</h2>
<%= render 'bookinglist', bookings: @not_accepted_bookings %>
<h2>Skickade:</h2>
<%= render 'bookinglist', bookings: @sent_bookings %>

<% if @unsent_bookings.any? %>
<button class="send_bookings">Skicka festanmälningar</button>
<% end %>
<%= render 'mail' %>
<%= render 'send_bookings', bookings: @unsent_bookings %>
