// Place all the styles related to the PartyReports controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#mail_form {
	input[type=text] {
		width: 300px
	}
	a.close-reveal-modal:hover {
		text-decoration: none;
		color: darken(#aaa, 20);
	}
	input.close-reveal-modal {
		font-size: 14px;
		line-height: 14px;
		position: relative;
		top: auto;
		right: auto;
		color: #fff;
		text-shadow: rgba(0, 0, 0, 0.298039) 0px -1px 1px;
	}
}
