// Place all the styles related to the WhitelistItems controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.day {
	width: 10px;
	height: 10px;
	display: inline-block;
}
.day.green {
	background: #bada55;
}
.day.red {
	background: #931103;
}

.field.days label {
	display: inline;
}
