// Place all the styles related to the WhitelistItems controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.day {
	width: 10px;
	height: 10px;
	display: inline-block;
}
.day.green {
	background: #bada55;
}
.day.red {
	background: #931103;
}
.field .field_with_errors {
	display: inline-block;
}

.field_with_errors.days label, .field.days label {
	display: inline;
}

.field_with_errors label {
	background: rgba(243, 17, 3, 0.33);
	padding: 5px;
}
